/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 06.07.2018, 14:04:58
    Author     : Sammy Guergachi <sguergachi at gmail.com>
*/
.media a{
    color: white;
}
.media a:hover{
    color:blue;
}

html, body {
    width: 100%;
    height: 100%;
}

#brand-image{
    height:56px;
}

#box {
    padding-top: 80px;

}
#boximage{
    height:120px;
    padding-left: 70px;
    padding-bottom: 30px;
}
.menu{
    display:block;
    width:258px;
    overflow:hidden;
}
.menu li{
    display:none;
    background-color: #2A2929;
    width: 258px;
    margin-left: -40px;
    list-style-type: none;



}

.menu ul{
    color:white;
    text-transform: uppercase;
    text-align:center;
    background-color:black;
    text-color:white;
    width:258px;
    margin-bottom:2px;
    display:block;



}
.menu a{
    color:white;

}

.menuhor{
    display:block;
    width:100%;
    overflow:hidden;
    display:none;
    top:109px;
}
.menuhor li{
    display:none;
    background-color: #2A2929;
    width: 100%;

    text-decoration: none;
    list-style-type: none;



}

.menuhor ul{
    color:white;
    text-transform: uppercase;
    text-align:center;
    background-color:black;
    text-color:white;
    width:100%;
    margin-bottom:2px;
    display:block;
    list-style-type: none;

}
.menuhor a{
    color:white;
    text-decoration: none;
}